.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

::-webkit-scrollbar {
    width: 12px;              /* ancho de la barra */
}

::-webkit-scrollbar-track {
    background: #5048e6 ;      /* color del fondo del track */
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* color del thumb */
    border-radius: 6px;
    border: 4px solid #5048e6 ; /* espacio alrededor del thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3730a3;
}